header {
    background-color: #000;
    height: 100%;
    width: 100%;

    /* margin: 0 10%; */
    /* padding: 1.8rem; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul :hover {
    color: #d1a952;
}

.nav_list {
    display: inline-flex;

    align-items: center;
    color: #ece1fa;
    align-self: center;
}

.nav_list :hover {
    border-bottom: 1px solid #d1a952;
}

.nav_sign {
    display: inline-flex;
    align-items: center;
}

.nav_logo {
    width: 100px;
    height: 100%;
    margin-right: 2.5rem;
    position: relative;
    top: 1px;
    /* border-bottom: none; */
}

.nav_logo:hover {
    border-bottom: none;
}

.nav_link {
    font-size: 1.1rem;
    list-style: none;
    letter-spacing: 5px;
    color: #c3f3f3;
    margin-right: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.button {
    font-size: 1.2rem;
    padding: 0.15rem 1.5rem;
    background-color: #ffffff00;
    color: #c3f3f3;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 8px #627e7e;
    font-weight: bold;
    text-decoration: none;
}
